/* Paleta de Cores */

:root {
  --color-gray-light: #d6d6de;
  --color-gray-lighter: #fafafa;
  --color-gray-medium: #e5e8eb;
  --color-black: #000000;
  --color-dark-gray: #1c1c21;
  --color-gray-dark: #3d404a;
  --color-darkest: #212429;
  --color-blue-gray: #4f5461;
  --color-error: #f44336;
  /* Vermelho para erro */
  --color-success: #4caf50;
  /* Verde para sucesso */
  --color-warning: #ff9800;
  /* Laranja para aviso */
  --color-info: #2196f3;
  /* Azul para informação */
}
